import * as glob        from '../../jslib/constants'
import { sendEmail }    from '../../axios'

class {
    onCreate(input, out) {
    }

    onInput(input, out) {
    }

    onMount() {
    }

    sendmail() {

      // sendmail({
      //     from: 'adv@newfurnitura.ru',
      //     to: 'kolodiva@mail.ru',
      //     subject: 'test sendmail',
      //     html: 'Mail of test sendmail ',
      //   }, function(err, reply) {
      //     console.log(err && err.stack);
      //     //console.dir(reply);
      // });
      //console.log( 'Action has posted.' );

      sendEmail();

      //alert('Yo Bro, good job.');
    }

}

style {
}

<div style='text-align: center'><button style='font-size: 4rem' on-click('sendmail')><span class='m-5'>Запостить</span></button></div>

<!-- ////////////////////////////////////////////////// -->
